html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} 

header {
  background-color: rgb(71, 154, 192);
  min-height: 200px;
  width: 100%;
}

h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 50px;
  font: 3.5rem sans-serif;
}

h2 {
  font-size: 1.5rem;
}

main {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

article,
nav,
aside {
  box-sizing: border-box;
  padding: 15px;
  margin: 20px;
}

article {
  flex: 3 500px;
}

aside {
  flex: 2 300px;
}

li {
  margin-top: 30px;
}

nav a {
  text-decoration: none;
}

footer {
  width: 100%;
  background-color: rgb(21, 226, 158);
  height:  100px;
  color: white;
  font-size: 1rem; 
}

footer p {
  margin-top: 0;
  padding: 40px;
  text-align: right;
}