@font-face {
  font-family: 'Roboto';
  src:  local('Roboto'),
        url(../assets/fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src:  local('Roboto'),
        url(../assets/fonts/Roboto-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src:  local('Roboto'),
        url(../assets/fonts/Roboto-Light.ttf) format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'MyriadPro';
  src:  local('MyriadPro'),
        url(../assets/fonts/MyriadPro-Regular.ttf) format('truetype');
  font-weight: normal;
}