
footer {
  background-color: #3b3d40;
  color: #fff;
  display: flex;
  min-height: 148px;
}

.logo-footer {
  display: flex;
  font: normal 16px Roboto, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  align-items: center;
  justify-content: flex-start;
  flex: 2 1 auto;
}

.logo-footer img {
  margin: 0 18px 48px 110px;
}

.logo-footer p {
  margin: 0 0 48px;
}

address {
  font: normal 15px/19px Roboto, sans-serif;
  color: rgba(255, 255, 255, 0.3);
  flex: 3;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.street {
  letter-spacing: .75px;
}

address a {
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: .75px;
}

.rights-reserved {
  font: normal 15px/16px Roboto, sans-serif;
  letter-spacing: .75px;
  color: rgba(255, 255, 255, 0.3);
  flex: 3;
  align-self: flex-end;
  text-align: right;
  margin-right: 9%;
  margin-bottom: 42px;
}

@media screen and (max-width:768px) {
  footer {
    min-height: 378px;
    display: block;
  }

  .logo-footer {
    display: block;
  }

  .logo-footer img {
    display: block;
    margin: 0 auto;
    padding: 56px 0 14px 0;
  }

  .logo-footer p {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  address {
    margin: 50px auto 120px;
  }

  .street {
    text-align: center;
    margin: 0;
    padding-bottom: 14px;
  }

  .mailto {
    display: block;
    text-align: center;
  }

  .rights-reserved {
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
  }
}

@media screen and (max-width:350px) {
  .your-headline h2 {
    margin-left: auto;
    margin-right: auto;
  }
}