header {
  display: flex;
  height: 130px;
  position: absolute;
  right: 0;
  left: 0;
}

/* .polygon {
  position: absolute;
  clip-path: polygon(63% 89%, 78% 84%, 93% 90%, 100% 100%, 0 100%, 7% 88%, 24% 89%, 42% 85%);
  background: white;
  top: 35px;
  left: 10%;
  width: 100px;
  height: 50px;
}

.polygon:hover {
  animation: up 2s ease-in infinite;
}

@keyframes up{
  0% {clip-path: polygon(63% 89%, 78% 84%, 93% 90%, 100% 100%, 0 100%, 7% 88%, 24% 89%, 42% 85%);
 }
  30% {clip-path: polygon(63% 89%, 78% 84%, 93% 90%, 100% 100%, 0 100%, 7% 88%, 24% 89%, 42% 85%);
}
  60% {clip-path: polygon(59% 70%, 78% 81%, 93% 68%, 100% 100%, 0 100%, 9% 75%, 24% 68%, 41% 75%);
}
} */

/* @keyframes peakUp {
  10% {clip-path: polygon(55% 75%, 64% 71%, 77% 74%, 91% 80%, 100% 100%, 0 100%, 6% 84%, 15% 74%, 28% 68%, 39% 76%);
  }
  30% {clip-path: polygon(53% 61%, 69% 66%, 82% 65%, 100% 53%, 100% 100%, 0 100%, 0 75%, 14% 61%, 28% 68%, 41% 57%);
  }
  50% {clip-path: polygon(57% 47%, 73% 53%, 83% 40%, 100% 53%, 100% 100%, 0 100%, 0 54%, 11% 42%, 25% 52%, 42% 44%);
  }
  65% {clip-path: polygon(61% 30%, 77% 24%, 90% 28%, 100% 24%, 100% 100%, 0 100%, 0 35%, 11% 36%, 23% 31%, 45% 36%);
  }
  80% {clip-path: polygon(61% 17%, 74% 6%, 89% 15%, 100% 24%, 100% 100%, 0 100%, 0 35%, 11% 14%, 23% 5%, 42% 14%);
  }
} */

/* h1:hover .two {
  animation: peakUp 1s ease-out infinite;
} */

h1 {
  font: normal 16px Roboto, sans-serif;
  letter-spacing: 3.2px;
  flex-grow: 1;
  align-self: center;
  margin-left: 11%;
  color: rgb(255, 255, 255);
  position: relative;
}

.two {
  position: absolute;
  left: 0px;
  color: black;
  width: 80px;
  height: 30px;
  background: white;
  clip-path: polygon(55% 75%, 64% 83%, 79% 87%, 91% 80%, 100% 100%, 0 100%, 6% 84%, 15% 74%, 26% 83%, 44% 80%);
}

h1 a {
  color: #fff;
}

h1:hover .two {
  animation: peakUp 1.5s ease-out infinite;
}

@keyframes peakUp {
  10% {clip-path: polygon(55% 75%, 64% 71%, 77% 74%, 91% 80%, 100% 100%, 0 100%, 6% 84%, 15% 74%, 28% 68%, 39% 76%);
  }
  30% {clip-path: polygon(53% 61%, 69% 66%, 82% 65%, 100% 53%, 100% 100%, 0 100%, 0 75%, 14% 61%, 28% 68%, 41% 57%);
  }
  50% {clip-path: polygon(57% 47%, 73% 53%, 83% 40%, 100% 53%, 100% 100%, 0 100%, 0 54%, 11% 42%, 25% 52%, 42% 44%);
  }
  65% {clip-path: polygon(61% 30%, 77% 24%, 90% 28%, 100% 24%, 100% 100%, 0 100%, 0 35%, 11% 36%, 23% 31%, 45% 36%);
  }
  80% {clip-path: polygon(61% 17%, 74% 6%, 89% 15%, 100% 24%, 100% 100%, 0 100%, 0 35%, 11% 14%, 23% 5%, 42% 14%);
  }
}

nav {
  flex-grow: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger {
  display: none;
}

.navigation {
  display: flex;
  list-style-type: none;
  flex-grow: 1;
  padding-left: 11%;
}

.navigation li {
  padding-left: 37px;
  transition: all .5s ease-out;
}

.navigation li:first-child {
  padding-left: 0;
}

li a {
  color: #fff;
}

li:hover {
  transform: scale(1.2, 1.2);
  transition: all 1s ease-out;
}

li a:hover {
  border-bottom: 1px solid white;
  padding-bottom: 6px;
}

li a:focus {
  border-bottom: 1px solid #fff000;
  padding-bottom: 6px;
  color: rgb(255, 255, 0);
  transition: border-bottom .5s linear .5s,
              color 1s ease-out .5s;
}

@media screen and (max-width:768px) {
  header {
    height: 90px;
  }

  h1 {
    font: normal 16px 'MyriadPro', sans-serif;
    letter-spacing: 3.2px;
    text-align: left;
  }

  .navigation {
    display: none;
  }

  .hamburger {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
  }

  .hamburger a {
    color: #fff;
  }

  /***************** Transform and transition *****************/

  .toggle {
    opacity: 0;
  }

  .toggle:checked ~ .btn > span {
    transform: rotate(45deg);
  }

  .toggle:checked ~ .btn > span::before {
    transform: translateY(0) rotate(0);
  }

  .toggle:checked ~ .btn > span::after {
    transform: translateY(0) rotate(90deg);
  }

  .toggle:checked ~ .btn-menu {
    visibility: visible;
    transform: translateX(-100%);
    transition: all 1.5s cubic-bezier(.22,-0.76,.11,.82);
  }

  .btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .btn > span,
  .btn > span::before,
  .btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: .25s;
  }

  .btn > span::before {
    content: '';
    transform: translateY(-8px);
  }
  .btn > span::after {
    content: '';
    transform: translateY(8px);
  }

  .btn-menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: rgba(59, 61, 64, .5);
    transition: 1.25s cubic-bezier(.32,-0.39,.59,-0.41);
  }

  .btn-menu li {
    margin: 0 0 30px 11%;
    transition: all .5s ease-in;
    transform-origin: left;
  }

  .btn:hover span {
    transform: rotateZ(180deg);
    transition: transform .5s ease-in;
  }

  .toggle:checked ~ .btn:hover span  {
    transform: rotateZ(225deg);
    transition: transform .5s ease-out;
  }
}