.learn-more {
  background: linear-gradient(to right, rgba(59, 61, 64, .7), rgba(59, 61, 64, .7)),
              url(../assets/images/your-image@3x.jpg) no-repeat center/cover;
  background-color: #243853;
  min-height: 698px;
  display: flex;
  flex-direction: column;
}

.learn-more h2 {
  color: #fff;
  margin: 123px auto 64px;
}

.learn-more h3 {
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal;
  margin: 65px 30% 128px;
}

.arrow {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  padding: 0;
  font-size: 4rem;
}

.arrow:hover {
  animation: pulseArrow 1.3s ease-in-out infinite;
}

/**************** Animation ***************/

@keyframes pulseArrow {
  0%  { transform: scale(1);}
  20% { transform: scale(0.8);}
  50% { transform: scale(1);
        box-shadow: 0 0 0 25px rgba(46, 113, 242, .3);}
  65% { box-shadow: 0 0 0 15px rgba(46, 113, 242, .2);}
  80% { box-shadow: 0 0 0 10px rgba(46, 113, 242, .1);}
  90% { box-shadow: 0 0 0 4px rgba(46, 113, 242, .1);}
}

/*******************************************/

@media screen and (max-width:768px) {
  .learn-more h2 {
    margin: 0;
    padding: 126px 46px 46px 42px;
    font: bold 46px/52px Roboto, sans-serif;
  }

  .arrow {
    width: 104px;
    height: 104px;
    font-size: 3rem;
    margin: 46px auto;
  }

  .learn-more {
    background-position: 30%;
  }

  .learn-more h3 {
    margin: 46px auto 124px;
  }
}