@import url(fonts.css);
@import url(header.css);
@import url(your-headline.css);
@import url(two-lines.css);
@import url(learn-more.css);
@import url(footer.css);

body {
  box-sizing: border-box;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
}

h2 {
  font: bold 52px/55px Roboto, sans-serif;
  text-align: center;
}

h3 {
  font: 300 24px/26px Roboto, sans-serif;
  text-align: center;
}

li {
  font: normal 12px Roboto, sans-serif;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}