.two-lines {
  background-color: #f9f9f9;
  display: flex;
  flex-flow: row wrap;
}

.two-lines h2 {
  margin: 115px 20% 12px;
  color: #3b3d40;
}

.two-lines h3 {
  margin: 12px 30% 36px;
  color: #666;
}

.small-screen {
  display: none;
}

.two-lines p {
  width: 50%;
  flex-basis: auto;
  margin: 0;
  /* padding-top: 36px; */
  text-align: left;
  font: normal 15px/20px Roboto, sans-serif;
  color: #656b6f;
}

.two-lines p:first-of-type {
  box-sizing: border-box;
  padding: 36px 3.8% 0 11.8%;
  /* padding-right: 3.8%;
  padding-left: 11.8%; */
}

.two-lines p:last-of-type {
  box-sizing: border-box;
  padding: 36px 12.4% 0 3.8%;
  /* padding-left: 3.8%;
  padding-right: 12.4%; */
}

button {
  outline: none;
  background-color: #2e71f2;
  color: #fff;
  font: normal 12px Roboto, sans-serif;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  border: none;
  height: 46px;
  width: 162px;
  border-radius: 26px;
  display: block;
  margin: 60px auto 107px;
  cursor: pointer;
}

/************ Animation *************/

.two-lines button:hover {
  animation: pulse 1.1s ease-in-out infinite;
}

@keyframes pulse {
  0%  { transform: scale(1);}
  20% { transform: scale(0.9);}
  50% { transform: scale(1);
        box-shadow: 0 0 0 10px rgba(46, 113, 242, .3);}
  65% { box-shadow: 0 0 0 8px rgba(46, 113, 242, .2);}
  80% { box-shadow: 0 0 0 6px rgba(46, 113, 242, .1);}
  90% { box-shadow: 0 0 0 4px rgba(46, 113, 242, .1);}
}

/***********************************/

@media screen and (max-width:768px) {
  .two-lines h2 {
    text-align: left;
    margin: 84px 30px 14px 30px;
    font: bold 46px/52px Roboto, sans-serif;
  }

  .two-lines h3 {
    text-align: left;
    margin: 14px 30px 14px;
  }

  .big-screen {
    display: none;
  }

  .small-screen {
    display: inline;
  }

  .two-lines p {
    width: 100%;
  }

  .two-lines p:first-of-type,
  .two-lines p:last-of-type {
    padding: 36px 40px 0 30px;
  }

  .two-lines p:last-of-type {
    margin-bottom: 13px;
  }

  button {
    margin: 13px 0 50px 30px;
  }
}