.your-headline {
  background: linear-gradient(to right, rgba(59, 61, 64, .5), rgba(59, 61, 64, .5)),
              url(../assets/images/your-image-here@3x.jpg) no-repeat center/cover;
  background-color: #243853;
  min-height: 800px;
  color: #fff;
}

.your-headline img {
  margin: 290px 0 0 47.4%;
  transition: transform 1s ease-out;
}

.your-headline img:hover {
  transform: rotateZ(1080deg);
  transition: transform 1.5s ease-in;
}

.your-headline h2 {
  letter-spacing: 2.6px;
  margin: 22px 33% 32px;
}

.your-headline h3 {
  margin: 0 30% 0;
  color: rgba(255, 255, 255, .7);
}

@media screen and (max-width:768px) {
  .your-headline {
    background-position-x: 35%;
  }

  .your-headline h2 {
    margin-left: 60px;
    margin-right: 60px;
  }

  .your-headline h3 {
    margin: 0 28px;
  }
}