html {
  box-sizing: border-box;
}

body {
  margin: 0;
} 

header {
  background-color: rgb(71, 154, 192);
  min-height: 200px;
  width: 100%;
}

h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 50px;
  font: 3.5rem sans-serif;
}

h2 {
  font-size: 1.5rem;
}

.wrapper {
  min-height: calc(100vh - 100px);
}

.wrapper::after {
  content: "";
  display: block;
  clear: both;
}

main,
aside {
  width: 37%;
  float: left;
  box-sizing: border-box;
  padding: 15px;
  min-width: 300px;
}

nav {
  width: 25%;
  min-width: 100px;  
  float: left;
  box-sizing: border-box;
  padding: 15px;
}

li {
  margin-top: 30px;
}

nav a {
  text-decoration: none;
}

footer {
  width: 100%;
  background-color: rgb(21, 226, 158);
  height:  100px;
  color: white;
  font-size: 1rem;  
}

footer p {
  margin-top: 0;
  padding: 40px;
  text-align: right;
}

@media (max-width: 805px) {
  main {
    width: 75%;
  }
  aside {
    float: none;
    width: 90%;
    clear: both;
    margin: 20px auto;
  }
}