html {
  box-sizing: border-box;
}

body {  
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-rows: 200px 1fr 100px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  height: 100vh;
} 

header {
  background-color: rgb(71, 154, 192);  
  grid-column: 1 / -1;
}

h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 50px;
  font: 3.5rem sans-serif;
}

h2 {
  font-size: 1.5rem;
}

.content {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 150px minmax(650px, 2fr) minmax(400px, 1fr);
  gap: 20px;
  margin: 20px;
}

main,
nav,
aside {  
  padding: 15px;
}

li {
  margin-top: 30px;
}

nav a {
  text-decoration: none;
}

footer {  
  background-color: rgb(21, 226, 158);  
  color: white;
  font-size: 1rem; 
  grid-column: 1 / -1;
}

footer p {
  margin-top: 0;
  padding: 40px;
  text-align: right;
}

@media screen and (max-width: 1300px) {
  .content {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 150px minmax(650px, 2fr);    
    gap: 20px;
    margin: 20px;
  }

  aside {
    grid-column: 1 / -1;
  }
}